{% extends 'base/base.html' %}
{% load static %}
{% block content %}

<body class="g-sidenav-show  bg-gray-100">
  <aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3 "
    id="sidenav-main">
    <div class="sidenav-header">
      <i class="fas fa-times p-3 cursor-pointer text-secondary opacity-5 position-absolute end-0 top-0 d-none d-xl-none"
        aria-hidden="true" id="iconSidenav"></i>
      <a class="navbar-brand m-0" href="{% url 'org_dashbord' %}">
        <img src="{% static 'assets/img/logos/nccc-logo.jpg' %}" class="navbar-brand-img h-100" alt="main_logo">
        <span class="ms-1 font-weight-bold">Dashboard</span>
      </a>
    </div>
    <hr class="horizontal dark mt-0">
    <div class="collapse navbar-collapse  w-auto " id="sidenav-collapse-main">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link  " href="{% url 'org_update' %}">
            <div
              class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
              <svg width="12px" height="12px" viewBox="0 0 42 42" version="1.1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink">
                <title>office</title>
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g transform="translate(-1869.000000, -293.000000)" fill="#FFFFFF" fill-rule="nonzero">
                    <g transform="translate(1716.000000, 291.000000)">
                      <g id="office" transform="translate(153.000000, 2.000000)">
                        <path class="color-background opacity-6"
                          d="M12.25,17.5 L8.75,17.5 L8.75,1.75 C8.75,0.78225 9.53225,0 10.5,0 L31.5,0 C32.46775,0 33.25,0.78225 33.25,1.75 L33.25,12.25 L29.75,12.25 L29.75,3.5 L12.25,3.5 L12.25,17.5 Z">
                        </path>
                        <path class="color-background"
                          d="M40.25,14 L24.5,14 C23.53225,14 22.75,14.78225 22.75,15.75 L22.75,38.5 L19.25,38.5 L19.25,22.75 C19.25,21.78225 18.46775,21 17.5,21 L1.75,21 C0.78225,21 0,21.78225 0,22.75 L0,40.25 C0,41.21775 0.78225,42 1.75,42 L40.25,42 C41.21775,42 42,41.21775 42,40.25 L42,15.75 C42,14.78225 41.21775,14 40.25,14 Z M12.25,36.75 L7,36.75 L7,33.25 L12.25,33.25 L12.25,36.75 Z M12.25,29.75 L7,29.75 L7,26.25 L12.25,26.25 L12.25,29.75 Z M35,36.75 L29.75,36.75 L29.75,33.25 L35,33.25 L35,36.75 Z M35,29.75 L29.75,29.75 L29.75,26.25 L35,26.25 L35,29.75 Z M35,22.75 L29.75,22.75 L29.75,19.25 L35,19.25 L35,22.75 Z">
                        </path>
                      </g>
                    </g>
                  </g>
                </g>
              </svg>
            </div>
            <span class="nav-link-text ms-1">Profile</span>
          </a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link  " href="{% url 'org_event' %}">
            <div
              class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
              <svg width="12px" height="12px" viewBox="0 0 43 36" version="1.1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink">
                <title>credit-card</title>
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g transform="translate(-2169.000000, -745.000000)" fill="#FFFFFF" fill-rule="nonzero">
                    <g transform="translate(1716.000000, 291.000000)">
                      <g transform="translate(453.000000, 454.000000)">
                        <path class="color-background opacity-6"
                          d="M43,10.7482083 L43,3.58333333 C43,1.60354167 41.3964583,0 39.4166667,0 L3.58333333,0 C1.60354167,0 0,1.60354167 0,3.58333333 L0,10.7482083 L43,10.7482083 Z">
                        </path>
                        <path class="color-background"
                          d="M0,16.125 L0,32.25 C0,34.2297917 1.60354167,35.8333333 3.58333333,35.8333333 L39.4166667,35.8333333 C41.3964583,35.8333333 43,34.2297917 43,32.25 L43,16.125 L0,16.125 Z M19.7083333,26.875 L7.16666667,26.875 L7.16666667,23.2916667 L19.7083333,23.2916667 L19.7083333,26.875 Z M35.8333333,26.875 L28.6666667,26.875 L28.6666667,23.2916667 L35.8333333,23.2916667 L35.8333333,26.875 Z">
                        </path>
                      </g>
                    </g>
                  </g>
                </g>
              </svg>
            </div>
            <span class="nav-link-text ms-1">Side Events</span>
          </a>
        </li>

        
      </ul>
    </div>

  </aside>
  <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <!-- Navbar -->
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur"
      navbar-scroll="true">
      <div class="container-fluid py-1 px-3">

        <nav aria-label="breadcrumb">
          <!--
          <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
            <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="javascript:;">Pages</a></li>
            <li class="breadcrumb-item text-sm text-dark active" aria-current="page">Dashboard</li>
            <li class="breadcrumb-item text-sm text-dark active" aria-current="page">Dashboard</li>
          </ol>
          -->
          <h6 class="font-weight-bolder mb-0">Dashboard</h6>
        </nav>

        <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
          <div class="ms-md-auto pe-md-3 d-flex align-items-center">
            <div class="input-group">
              <span class="input-group-text text-body"><i class="fas fa-search" aria-hidden="true"></i></span>
              <input type="text" class="form-control" placeholder="Type here...">
            </div>
          </div>
          <ul class="navbar-nav  justify-content-end">
            <li class="nav-item d-flex align-items-center">
              <a class="btn btn-outline-primary btn-sm mb-0 me-3" target="_blank" href="#">Do Something</a>
            </li>
            {% if request.user.is_authenticated %}
            <!-- Display content for logged-in users -->
            <li class="nav-item d-flex align-items-center">
              <a href="{% url 'login' %}" class="nav-link text-body font-weight-bold px-0">
                <i class="fa fa-user me-sm-1"></i>
                <span class="d-sm-inline d-none">Sign Out</span>
              </a>
            </li>
            {% else %}
            <!-- Display content for non-logged-in users -->
            <li class="nav-item d-flex align-items-center">
              <a href="{% url 'login' %}" class="nav-link text-body font-weight-bold px-0">
                <i class="fa fa-user me-sm-1"></i>
                <span class="d-sm-inline d-none">Sign In</span>
              </a>
            </li>
            {% endif %}
            <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
              <a href="javascript:;" class="nav-link text-body p-0" id="iconNavbarSidenav">
                <div class="sidenav-toggler-inner">
                  <i class="sidenav-toggler-line"></i>
                  <i class="sidenav-toggler-line"></i>
                  <i class="sidenav-toggler-line"></i>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- End Navbar -->
    <div class="container-fluid py-4">
      <div class="row">
          <div class="col-12">
              <div class="card mb-4">
                <div class="card-header pb-0 d-flex justify-content-between align-items-center">
                  <h6 class="m-0">Registrations Status: {{member_id.status}}</h6>
                  <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                      data-bs-target="#exampleModal">
                     Update Profile
                  </button>
              </div>
                  <div class="card-header pb-0">
                      <h6>  </h6>
                  </div>
                  <div class="card-body px-0 pt-0 pb-2">
                      {% if member_id.logo %}
                      <div class="card-body">
                          <div class="d-flex align-items-start align-items-sm-center gap-4">
                              <img src="{{ member_id.logo.url }}" alt="passport" class="d-block rounded"
                                  height="100" width="100" id="passports" />

                          </div>
                      {% endif %}
                      </div>
                      <hr class="my-0" />
                      <div class="card-body">


                          <input class="form-control" type="hidden" readonly id="mos" name="mos"
                              value="{{ masjid_id }}" />

                          <div class="row">

                              <div class="mb-3 col-md-6">
                                  <label for="AName" class="form-label">Name</label>
                                  <input class="form-control" value="{{ member_id.user.name }}" type="text"
                                      id="AName" name="AName" required readonly />
                              </div>
                              <div class="mb-3 col-md-6">
                                  <label for="age" class="form-label">Category</label>
                                  <input class="form-control" type="text" name="age"
                                      value="{{ member_id.organisation_type }}" id="age" maxlength="2" required readonly />
                              </div>
                              <div class="mb-3 col-md-6">
                                  <label for="address" class="form-label">Address</label>
                                  <input class="form-control" type="text" id="address"
                                      value="{{ member_id.address_line }}" name="address" required readonly />
                              </div>
                              <div class="mb-3 col-md-6">
                                  <label for="address" class="form-label">State</label>
                                  <input class="form-control" type="text" id="address"
                                      value="{{ member_id.state }}" name="address" required readonly />
                              </div>
                              <div class="mb-3 col-md-6">
                                  <label class="form-label" for="NphoneNumber">Phone Number</label>
                                  <div class="input-group input-group-merge">
                                      <span class="input-group-text">NG (+234)</span>
                                      <input type="number" id="NphoneNumber" name="NphoneNumber"
                                          class="form-control" placeholder="07019575268"
                                          value="{{ member_id.contact_number }}" required readonly />
                                  </div>
                              </div>
                              <div class="mb-3 col-md-6">
                                  <label for="NName" class="form-label">Email Address</label>
                                  <input type="text" class="form-control" id="NName"
                                      value="{{ member_id.user.email }}" name="NName" required
                                      readonly />
                              </div>
                              
                              <div class="mb-3 col-md-6">
                                  <label for="IdType" class="form-label">Website</label>
                                  <input type="text" class="form-control" value="{{ member_id.website }}"
                                      id="IdType" name="IdType" required readonly />
                              </div>
                              <div class="mb-3 col-md-6">
                                  <label for="IdNum" class="form-label">Focus Area</label>
                                  <input type="text" class="form-control" value="{{ member_id.focus_area }}"
                                      id="IdNum" name="IdNum" required readonly />
                              </div>
                              <div class="mb-6 col-md-12">
                                  <label for="mdcc" class="form-label">Description</label>
                                  <textarea class="form-control" id="mdcc" rows="3" name="mdcc"
                                      readonly>{{ member_id.description }}</textarea>
                              </div>
                              
                          
                          </div>
                          {% if member_id.certificate %}
                          <div class="card-body">
                              <div class="d-flex align-items-start align-items-sm-center gap-4">
                                  <img src="{{ member_id.certificate.url }}" alt="id-card" class="img-fluid"
                                      height="200" width="500" id="id-cards" />
                              </div>
                              {% endif %}

                          </div>
                         
                      </div>
                  </div>
                  
              </div>
              <div class="modal fade" id="exampleModal" tabindex="-1"
              aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                  <div class="modal-content">
                      <div class="modal-header">
                          <h1 class="modal-title fs-5" id="exampleModalLabel">New Details
                          </h1>
                          <button type="button" class="btn-close"
                              aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                          <form method="POST" enctype="multipart/form-data">
                              {% csrf_token %}
                              {{form.as_p}}
                      </div>
                      <div class="modal-footer">
                          <button type="submit" class="btn btn-primary me-2">Update</button>
                      </div>
                      </form>
                  </div>
              </div>
          </div>

                  
          </div>

      </div>
      {% include 'base/footer.html' %}
</main>
{% endblock %}