{% autoescape off %}

<h3> Dear {{ user_name }},</h3>


<p> We have received a request to reset the password for your 
NCCC Climate Portal account: {{user_email}}</p>

<p>Click on the following link to reset your password:
<Strong><a href="{{ reset_link }}">Reset Your Password</a></Strong> </p>

<p> Please be cautious when clicking on the password reset link. Ensure that you are
 on the official NCCC Climate Portal website, and that the link is from a legitimate source. 
 If you receive this email without having requested a password reset, or if you suspect any 
 unauthorized activity on your account, do not click the link. Instead, contact our support 
 team immediately. Your security is of utmost importance to us,
  and we are here to assist you with any concerns or issues.
</p>
<p> We recommend not sharing your password with anyone, and always use a unique, strong password for 
your NCCC Climate Portal account. Passwords should not be shared via email or other insecure channels.
</p>

<p> Thank You </p>
<p> Tech Support Team </p>
{% endautoescape %}